<!-- /views/wrapper.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>Rock-Paper-Scissors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

<!-- Left align nav items into column -->
  <style> 
    .navbar {
      display: flex;
      flex-direction: column;
    }

  table, th, td {
  border: 1px solid black;
  }

  </style>
</head>

<body>

  <div class="navbar">
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
  </div>

    <%= yield %>

  </body>
</html>
