<!-- /views/paper.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Paper</title>
</head>

<body>

  <!-- Print what we played -->
  <h2>We played paper!</h2>

  <!-- Print what computer played -->
  <h2>They played <%= @computer_play %>!</h2>

  <!-- Print result -->
  <% if @computer_play == "paper" %>
  <h2>We tied!</h2>
  <% else %>
    <% if @computer_play == "scissors" %>
    <h2>They won!</h2>
    <% else %>
    <h2>We won!</h2>
    <% end %>
  <% end %>

  <a href="/">Rules</a>

</body>
</html>
