<!-- /views/rock.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Rock</title>
</head>

<body>

  <!-- Print what we played -->
  <h2>We played <%= @user_play %>!</h2>

  <!-- Print what computer played -->

  <!-- Print result -->
  <% if @user_play == @computer_play %>
  <h2>We tied!</h2>
  <% else %>
  <h2>We didn't tie!</h2>
  <% end %>

  <a href="/">Rules</a>

</body>
</html>
