<!-- /views/rock.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Rock</title>
</head>

<body>

  <% if @user_play == @computer_play %>
  <h2>We tied!</h2>
  <% else %>
  <h2>We didn't tie!</h2>
  <% end %>

  <a href="/">Rules</a>

</body>
</html>
